body {
    overflow-x: hidden;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 80px;
    padding-right: 150px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 270px;
}

h1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}
.page-header {
    padding-bottom: 40px;
}

.mediaGallery {
    padding-top: 0px;
}

h2 {
    padding-bottom: 0px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.image {
    margin: 0px -4px 0px 0px;
}

.video {
    margin: 0px -4px 0px 0px;
}
